body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #31363F;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.introduction {
    background-color: #EEEDEB;
    padding: 10px;
    margin: 10px 0;
}